In [1]:
import numpy as np 
import pandas as pd 
import json
import os 
import matplotlib.pyplot as plt

In [3]:
PARSED_FILE = './parsed.json'
with open(PARSED_FILE, 'r') as json_file:
    data = json.load(json_file)

# Create a DataFrame from the list of dictionaries
df = pd.json_normalize(data)
df

,workload,discards,foundbug,strategy,mutant,passed,property,time
0,BST,210,True,typeBasedGenerator,insert_3,199,prop_InsertDelete,41.74
1,BST,597,False,typeBasedGenerator,insert_3,603,prop_InsertDelete,112.75
2,BST,626,False,typeBasedGenerator,insert_3,574,prop_InsertDelete,138.14
3,BST,611,False,typeBasedGenerator,insert_3,589,prop_InsertDelete,106.85
4,BST,555,True,typeBasedGenerator,insert_3,564,prop_InsertDelete,91.03
...,...,...,...,...,...,...,...,...
1635,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
1636,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.14
1637,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.33
1638,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,3.70
1639,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.22

In [4]:
df[df['workload'] == 'RBT'].describe()

          discards      passed        time
count   580.000000  580.000000  580.000000
mean    739.612069   92.536207  217.894466
std     446.183690   57.351479  136.665770
min       0.000000    0.000000    0.100000
25%     215.000000   24.000000   60.110000
50%    1056.000000  124.000000  273.260000
75%    1069.000000  137.000000  322.485000
max    1095.000000  164.000000  437.380000