In [1]:
import numpy as np 
import pandas as pd 
import json
import os 
import matplotlib.pyplot as plt

In [2]:
PARSED_FILE = './parsed.json'
with open(PARSED_FILE, 'r') as json_file:
    data = json.load(json_file)

# Create a DataFrame from the list of dictionaries
df = pd.json_normalize(data)
df

,workload,discards,foundbug,strategy,mutant,passed,property,time
0,RBT,0,False,bespokeGenerator,miscolor_balRight,1000,prop_DeleteDelete,97.98
1,RBT,0,False,bespokeGenerator,miscolor_balRight,1000,prop_DeleteDelete,84.39
2,RBT,0,False,bespokeGenerator,miscolor_balRight,1000,prop_DeleteDelete,86.22
3,RBT,0,False,bespokeGenerator,miscolor_balRight,1000,prop_DeleteDelete,87.34
4,RBT,0,False,bespokeGenerator,miscolor_balRight,1000,prop_DeleteDelete,72.67
...,...,...,...,...,...,...,...,...
2615,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2616,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.14
2617,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.33
2618,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,3.70
2619,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.22

In [3]:
rbt = df[df['workload'] == 'RBT']
print("RBT, Type-Based Generator:")
display(rbt[rbt['strategy'] == 'typeBasedGenerator'].describe())
print("RBT, Bespoke Generator:")
display(rbt[rbt['strategy'] == 'bespokeGenerator'].describe())

RBT, Type-Based Generator:

          discards      passed        time
count   580.000000  580.000000  580.000000
mean    735.596552   91.787931  218.429690
std     448.662260   57.204371  138.128859
min       0.000000    0.000000    0.090000
25%     209.000000   26.000000   64.297500
50%    1057.000000  124.000000  278.600000
75%    1069.000000  135.250000  324.757500
max    1097.000000  165.000000  448.610000

RBT, Bespoke Generator:

       discards       passed        time
count     580.0   580.000000  580.000000
mean        0.0   242.713793   21.720759
std         0.0   371.450182   33.133926
min         0.0     0.000000    0.100000
25%         0.0     3.000000    0.330000
50%         0.0    33.500000    3.295000
75%         0.0   294.000000   27.707500
max         0.0  1000.000000  108.520000

In [4]:
stlc = df[df['workload'] == 'STLC']
print("stlc, Type-Based Generator:")
display(stlc[stlc['strategy'] == 'typeBasedGenerator'].describe())
print("stlc, Bespoke Generator:")
display(stlc[stlc['strategy'] == 'bespokeGenerator'].describe())

stlc, Type-Based Generator:

          discards      passed          time
count   200.000000  200.000000    200.000000
mean   1087.825000   91.805000  50409.384850
std     129.376061   14.091837  10655.271199
min      47.000000    2.000000   1153.440000
25%    1100.750000   87.000000  44468.917500
50%    1107.000000   92.000000  50443.640000
75%    1112.000000   99.000000  56643.112500
max    1139.000000  120.000000  84593.740000

stlc, Bespoke Generator:

         discards       passed        time
count  200.000000   200.000000  200.000000
mean     0.280000   312.045000   33.434350
std      0.450126   366.954809   39.648681
min      0.000000     0.000000    0.110000
25%      0.000000    49.000000    3.567500
50%      0.000000   145.500000   14.720000
75%      1.000000   436.750000   43.880000
max      1.000000  1000.000000  139.270000